<div class="trip-form">
  <form #tripForm="ngForm" (ngSubmit)="isEdit ? saveTrip(tripForm) : onAddTrip(tripForm)">
    <div class="form-field">
      <label for="start">Start Point:</label>
      <input
        type="text"
        id="start"
        name="start"
        [(ngModel)]="tripData.start"
        required
      />
    </div>

    <div class="form-field" style="margin-top: 1rem">
      <label for="end">End Point:</label>
      <input
        type="text"
        id="end"
        name="end"
        [(ngModel)]="tripData.end"
        required
      />
    </div>

    <div class="button-container">
      <button type="submit">{{ isEdit ? 'Save' : 'Add' }} Trip</button>
    </div>
  </form>
</div>

<!-- Timeline container -->
<div class="trip-container">
  @for(t of trips; track t; let i = $index) {
    <div class="trip-segment" [ngClass]="{ 'level-2': t.level === 2 }">
      <!-- Trip Point -->
      <span class="trip-sign"></span>

      <!--  Line  -->
      @if(i !== 0) {
        <span
          class="line"
          [class.line-up]="trips?.[i-1]?.level === 1 && t.level === 2"
          [class.line-down]="trips?.[i-1]?.level === 2 && t.level === 1"
          [class.arrow-line]="t.lineType === 'arrow'"
        ></span>
      }

      <!-- Trip Labels -->
      <div class="labels">
        <span> {{ t.shortStart }} - {{ t.shortEnd }} </span>
      </div>
    </div>
  }
</div>

<div class="current-trips">
  <h4>Current Trips</h4>
  <ul>
    @for (trip of trips; track trip; let i = $index) {
      <li >
        {{ trip.start }} to {{ trip.end }} -
        <span
          class="edit-button "
          (click)="editTrip(i);"
        >Edit</span>
        <span
          class="delete-button"
          (click)="deleteTrip(i)"
        >Delete</span>
      </li>
    } @empty {
      <li> No Data Found! </li>
    }
  </ul>
</div>

<div class="logs">
  <h4>Logs</h4>
  <ul>
    @for (log of tripLogs; track log; let i = $index) {
      <li>
        {{ log }}
      </li>
    } @empty {
      <li> No Logs Found! </li>
    }
  </ul>
</div>
